<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Literata-BlackItalic.ttf</string>
		<string>Literata-BoldItalic.ttf</string>
		<string>Literata-ExtraBoldItalic.ttf</string>
		<string>Literata-ExtraLightItalic.ttf</string>
		<string>Literata-Italic.ttf</string>
		<string>Literata-LightItalic.ttf</string>
		<string>Literata-MediumItalic.ttf</string>
		<string>Literata-SemiBoldItalic.ttf</string>
		<string>Literata-Black.ttf</string>
		<string>Literata-Bold.ttf</string>
		<string>Literata-ExtraBold.ttf</string>
		<string>Literata-ExtraLight.ttf</string>
		<string>Literata-Light.ttf</string>
		<string>Literata-Medium.ttf</string>
		<string>Literata-Regular.ttf</string>
		<string>Literata-SemiBold.ttf</string>
	</array>
</dict>
</plist>
